@page
@model BestPrices.Site.Pages.Research.IndexModel
@{
    ViewData["Title"] = "Search";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form method="post">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-9">
                        <input type="search" class="form-control" asp-for="@Model.SearchText" placeholder="Find product..." />
                    </div>
                    <div class="col-3">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        @if (Model.Products != null)
        {
            @foreach (var product in Model.Products)
            {
                <div class="row mt-5 rounded shadow">
                    <div class="col-sm-4">
                        <img src="@product.PathPhoto" alt="prova img" class="img-fluid mt-2 mb-3">
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm">
                        <div class="row">
                            <div class="col">
                                <h3 class="display-4">@product.Name</h3>
                            </div>
                            <div class="col text-right mt-2 mr-3">
                                <span class="float-right"><i class="bi bi-heart" style="font-size: 2.3em; "></i></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <h3>€@product.Price</h3>
                            </div>
                            <div class="col text-right mb-5 mr-3">
                                <a class="btn btn-outline-primary float-right" href="@product.Link" target="_blank"><i class="bi bi-cart3"></i> Buy now</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Ecommerce: <b>@Model.GetEcommerceById(product.IdEcommerce)</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</form>

