@page
@model BestPrices.Site.Pages.Research.IndexModel
@{
    ViewData["Title"] = "Research";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form method="post">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-7">
                <input type="search" class="form-control" asp-for="@Model.ReasearchText" placeholder="Find product..." />
            </div>
            <div class="col-3">
                <input type="submit" class="btn btn-primary" value="Research" />
            </div>
        </div>
        @if (Model.Products != null)
        {
            @foreach (var product in Model.Products)
            {
                <div class="row mt-5 rounded shadow">
                    <div class="col-sm-4">
                        <img src="@product.Link" alt="prova img" class="img-fluid mt-3 mb-3">
                    </div>
                    <div class="col-sm text-center">
                        <h3 class="display-4">@product.Name</h3>
                        <p>@product.Description</p>
                        <div class="row">
                            <div class="col-sm text-center">
                                <h3>€@product.PathPhoto</h3>
                            </div>
                            <div class="col-sm text-center">
                                <a class="btn btn-outline-primary" href="@product.Link" target="_blank">Buy now</a>
                            </div>
                        </div>
                        <br />
                        <p>Ecommerce: <b>@Model.GetEcommerceById(product.IdEcommerce)</b></p>
                    </div>
                </div>
            }
        }
    </div>
</form>

